In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(
    {
        'Name':
        [
            'Tom', 'Jessica', 'Blake', 'Rodger'
        ],
        'Sex':
        [
            'M', 'F', 'M', 'M'
        ],
        'Age':
        [
            21, 18, 19, 40
        ]

    }

)

df.set_index('Name', inplace = True)
df.sort_values(by = 'Age')

        Sex  Age
Name
Jessica   F   18
Blake     M   19
Tom       M   21
Rodger    M   40